.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1;
    text-align: center;
    border-style: none;
    background-color: antiquewhite;
    transition: 1s;
    display: flex;
    justify-content: center; /* Wycentrowanie wzdłuż osi poziomej */
    align-items: center; /* Wycentrowanie wzdłuż osi pionowej */
    
  }
  .menu_headers {
	padding: 14px 16px;
	border:3px solid whitesmoke;
	color:white;
	font-size: 20px;
	cursor:pointer;
	background-color: red;
	opacity:0.8;
	border-radius:50px 50px 50px 50px;
}
.menu_headers:hover {
	padding: 14px 16px;
	border:3px solid whitesmoke;
	color:white;
	font-size: 100%;
	cursor:pointer;
	background-color: red;
	opacity:1;
	border-radius: 50px 50px 50px 50px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.image_grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
.image_grid img:hover {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50px;
  opacity:0.6;

}

.footer_menu_index
{
  width: 100%;
  max-width:1140px;
  height: auto;
  display: block;
  border-radius: 5px;
  border-style: dotted;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}
.footer_menu_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:none;
}
.footer_menu2_index {
  display: flex;
  justify-content: center; /* Wycentrowanie wzdłuż osi poziomej */
  align-items: center; /* Wycentrowanie wzdłuż osi pionowej */
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
}
.footer_menu2_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:dotted;
  border-radius: 50px;
}
.footer_value_index {
  width: 100%;
  border-radius: 5px;
  border-style: dotted;
  padding: 20px;
  margin:0 10px;
}
.footer_value_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:none;
  background-color: antiquewhite;
}
.admin_logon
{
  display: flex;
  justify-content: center; /* Wycentrowanie wzdłuż osi poziomej */
  align-items: center; /* Wycentrowanie wzdłuż osi pionowej */
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
}
.button_fixed
{
  border-radius: 5px;
  border-style: dotted;
  padding:25px;
}
.button_fixed:hover
{
  border-style: none; 
  padding:30px;
  background-color:white;
}
