.topnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1;
    text-align: center;
    border-style: none;
    background-color: antiquewhite;
    transition: 1s;
    display: flex;
    justify-content: center; 
    align-items: center; /
  }
  .downnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1;
    text-align: center;
    border-style: none;
    background-color: antiquewhite;
    transition: 1s;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-decoration:none;
}

.image {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.image_A {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.3s;
}
.image_A:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.footer_menu_index{
  width: 100%;
  max-width:1140px;
  height: auto;
  display: block;
  border-radius: 5px;
  border-style: dotted;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}
.footer_menu_index:hover{
  opacity:0,6;
  padding:25px;
  border-style:none;
}
.footer_menu2_index {
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
}
.footer_menu3_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:dotted;
  border-radius: 50px;
}
.footer_menu3_index {
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
  text-decoration: none;
  color:black;
}
.footer_menu3_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:dotted;
  border-radius: 50px;
  background-color:antiquewhite;
}
.footer_menu4_index
{
  opacity:0,6;
  padding:25px;
  border-style:dotted;
  border-radius: 50px;
  background-color:antiquewhite;
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
  text-decoration: none;
  color:black;
}
.footer_value_index {
  width: 100%;
  border-radius: 5px;
  border-style: dotted;
  padding: 20px;
  margin:0 10px;
  text-decoration: none;
  color:black;
  align-items:center;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  grid-gap: 10px;
}
.footer_value_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:none;
  background-color: antiquewhite;
}
.admin_logon
{
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
}
.button_fixed
{
  border-radius: 5px;
  border-style: dotted;
  padding:25px;
  color:black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  font-size: larger;
}
.button_fixed:hover
{
  border-style: none; 
  padding:30px;
  background-color:white;
}
.header_menu_index
{
  width: 100%;
  max-width:1140px;
  height: auto;
  display: block;
  border-radius: 5px;
  border-style: dotted;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color:antiquewhite;
}
.header_menu_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:none;
}
.green_light {
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width:1200px;
  text-align: center;
  margin: 20px auto;
  background-color:green;
}
.green_light:hover
{
  opacity:0,6;
  padding:30px;
}
.question_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-style: groove;
}

.qgrid
{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  text-align:center;
  }
  .qgrid1
{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  text-align:center;
  text-decoration: none;
  color:black;
  }
  .qgrid1:hover
{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  text-align:center;
  text-decoration: none;
  color: greenyellow;
  }
  .admin_menu_index
{
  width: 100%;
  max-width:1140px;
  height: auto;
  display: block;
  border-radius: 5px;
  border-style: dotted;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  text-decoration: none;
  color:black;
}
.admin_menu_index:hover
{
  opacity:0,6;
  padding:25px;
  border-style:none;
  background-color: antiquewhite;
  
}
.question_grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-style: none;
  text-align:center;
  background-color: antiquewhite;
}
.question_grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
  border-style: none;
}

.qgrid
{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  text-align:center;
  }
  .qgrid3
{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  text-align:center;
  text-decoration: none;
  color:black;
  border:1px;
  border-style:dashed;
  background-color: antiquewhite;
  }
  .qgrid3:hover
{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  text-align:center;
  text-decoration: none;
  color: greenyellow;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  .score_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-style: groove;
  }